.dashboard
    &__nav
        background-color: #50735F
        z-index: 10
        padding: 10px 50px 10px 50px
        &_label
            background: url("./img/menu.png") no-repeat 50%/cover
            height: 60px
            width: 100px
        &_wrapper
            list-style-type: none
            display: flex
            width: 300px
            justify-content: space-between
            padding: 0
            padding-right: 50px
        &-item
            font-family: GT Cinetype Regular
            font-size: 14px
            font-weight: 400
            color: #fff
            text-decoration: none
            cursor: pointer
        &_cart
            background: url("./img/shoppingcart.svg") no-repeat 50%/cover
            width: 30px
            height: 30px
            transform: rotateY(180deg)
        &_container
            display: flex
            justify-content: space-between
            align-items: center
            max-width: 1140px
            margin: 0 auto
    &__footer
        background-color: #50735F
        padding: 50px 10px 50px 10px
        position: relative
        &_wrapper
            display: flex
            justify-content: space-between
            max-width: 1140px
            margin: 0 auto
        &_leaf
            background: url("./img/footerleaf.png") no-repeat 50%/cover
            width: 300px
            height: 200px
            position: absolute
            left: 50%
            transform: translateX(-50%)
            bottom: 0
        &_right
            display: flex
            justify-content: space-between
            width: 330px
        &_label
            width: 130px
            height: 70px
            margin-top: 80px
            background: url("./img/menu.png") 0px 0px no-repeat
        &_rights
            font-family: GT Cinetype Regular
            font-size: 14px
            font-weight: 400
            color: #fff
            text-align: left
            margin-top: 12px
        &_left
            width: 450px
        &_refs
            font-family: GT Cinetype Regular
            font-size: 14px
            font-weight: 400
            text-align: left
            color: #fff
            text-transform: uppercase
            list-style-type: none
            padding: 0
            z-index: 10
            &-item
                font-family: GT Cinetype Regular
                font-size: 14px
                font-weight: 400
                text-align: left
                color: #fff
                margin-top: 12px
                text-transform: none
                cursor: pointer
        &_input
            &-btn
                width: 130px
                height: 59px
                background-color: #C58A46
                border: none
                right: -25px
                top: 20px
                position: absolute
                border-radius: 0 10px 10px  0
                font-family: GT Cinetype Regular
                font-size: 14px
                font-weight: 400
                color: #fff
                text-transform: uppercase
                cursor: pointer

            &-email form
                position: relative
                max-width: 450px
                max-height: 55
            &-email form input
                position: relative
                font-family: GT Cinetype Regular
                width: 100%
                height: 55px
                border-radius: 10px
                border: 1px solid #FFFFFF78
                background: none
                margin-top: 20px
                font-size: 14px
                font-weight: 400
                padding-left: 20px
                text-transform: uppercase
                &::placeholder
                    color: #FFFFFF78
            &-title
                font-family: GT Cinetype Regular
                font-size: 12px
                font-weight: 400
                text-align: left
                color: #fff
                text-transform: uppercase
                max-width: 250px
// media

@media (max-width:843px)
    .dashboard
        &__footer
            &_wrapper
                display: block
            &_left
                margin: 0 auto
            &_label
                margin: 0 auto
                margin-top: 80px
            &_rights
                text-align: center
            &_right
                margin: 0 auto
                margin-top: 50px
@media (max-width:625px)
    .dashboard
        &__footer
            &_input
                &-email form input
                    width: 77%
        &__nav
            padding-left: 10px
            padding-right: 10px
            &_wrapper
                width: 235px  
@media (max-width:510px)
    .dashboard
        &__footer
            &_refs
                padding: 0
            &_input
                &-btn
                    right: -24px
            &_left
                max-width: 300px
            &_right
                width: 300px
        &__nav
            padding-left: 15px
            padding-right: 15px
            height: 30px
            &_wrapper
                display: none
            &_label
                display: none
@media (max-width:506px)
    .dashboard
        &__footer
            &_input
                &-email form input
                    width: 60%
                &-btn
                    right: 53px
            &_left
                width: 430px  
@media (max-width:375px)
    .dashboard
        &__footer
            &_refs
                padding: 0
            &_input
                &-btn
                    right: 11px
                    
.burger
    background: url("./img/burgermenu.svg") no-repeat 50%/cover
    width: 30px
    height: 30px
    display: none
@media (max-width:510px)
    .burger
        display: block
